.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0,0,0, 0.56);
    display: none;
    
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 380px;
    min-height: 400px;
    background-color: #f2f2f2;
    box-sizing: border-box;
    padding: 38px 40px 40px 40px;
    &__close {
        position: absolute;
        top: 10px;
        font-size: 40px;
        line-height: 21px;
        right: 10px;
        color: #F5209B;
        &:hover {
            cursor: pointer;
        }
    }
    &__subtitle {
        color: #000000;
        font-size: 20px;
        font-weight: 700;
        text-align: center;
    }

    &__descr {
        color: #000000;
        font-size: 20px;
        font-weight: 500;
        text-align: center;
        margin-top: 20px;
    }
    &_mini {
        min-height: 140px;
    }
}

#order, #thanks {
    display: none;
}