
* {
    font-family: 'Museo Sans Cyrl', sans-serif;
}

.container {
    position: relative;
    width: 1140px;
    margin: 0 auto;

}

body {
    margin: 0;
}

@import "../base/variables.scss";
@import "../base/media";


@import "./header";
@import "./promo";
@import "./button";
@import "./advantage";
@import "./titles.scss";
@import "./consultation";
@import "./forms";
@import "./carousel";
@import "./catalog";
@import "./reviews";
